/* Mobile */
.footer {
  display: flex;
  justify-content: center;
  height: 16px;
}

.footer-list {
  list-style-type: none;
  display: flex;
}

.footer-item {
  margin-right: 8px;
}

.footer-item a {
  font: normal normal 400 8px/16px adobe-clean,sans-serif;
  text-decoration: none;
  color: #abaaab;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer {
    height: 56px;
  }
  .footer-item {
    margin-right: 16px;
  }
  .footer-item a {
    font: normal normal 400 16px/24px adobe-clean,sans-serif;
  }
}
/* Laptop */
@media screen and (min-width: 1024px) {
}