.full-screen-container {
  height: 100%;
  width: 100%;
  padding: 4vh 5vh 0;

  display: block;
  /* border: solid 1px grey; */
  /* background-color: #DEDCDE; */

  scroll-snap-stop: always;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.container-title {
  font: normal normal 600 64px/64px adobe-clean,sans-serif;
}