/* Mobile */
.full-screen-container {
  height: 100%;
  width: 100%;
  padding-top: 4vh;

  display: block;
  /* border: solid 1px grey; */
  /* background-color: #DEDCDE; */

  scroll-snap-stop: always;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.container-title {
  font: normal normal 600 48px/48px adobe-clean,sans-serif;
  text-align: center;
}

.container-subtitle {
  font: normal normal 400 32px/32px adobe-clean,sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container-title {
    font: normal normal 600 64px/64px adobe-clean,sans-serif;
  }

}